html,
body,
#root {
  height: 100%;
  width: 100%;
}
.App {
  height: 100%;
  width: 100%;
}

.grid {
  display: grid;
  padding: 1em;
  row-gap: 10px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
}
