.button {
  background-color: #bd3d30;
  border-radius: 10px;
  border: none;
  display: inline-block;
  padding: 10px;
  transition: all 0.4s ease 0s;
}

.button:hover {
  color: white;
  transition: all 0.1s ease 0s;
}
